---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  showDesc?: boolean;
  verticalTime?: boolean;
}

const { variant = "h2", data, id, filePath, showDesc = true, verticalTime = false } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  // class: "text-lg font-medium decoration-dashed hover:underline",
};
const headerClasses = [
  "text-lg",
  "font-medium",
  "decoration-dashed",
  "hover:underline",
  "overflow-hidden",
  "text-ellipsis",
  "whitespace-nowrap",
];
---

<li class="my-6">
  <div class="flex justify-between items-center gap-4 ">
    <a
      href={getPath(id, filePath)}
      class:list={[
        "inline-block text-lg font-medium text-accent",
        "decoration-dashed underline-offset-4",
        "focus-visible:no-underline focus-visible:underline-offset-0",
        "min-w-0",
      ]}
      title={title}
    >
      {
        variant === "h2" ? (
          <h2 {...headerProps}
          class:list={headerClasses}
          >{title}</h2>
        ) : (
          <h3 {...headerProps}
          class:list={headerClasses}
          >{title}</h3>
        )
      }
    </a>
    {!verticalTime&&<Datetime class="shrink-0" {pubDatetime} {modDatetime} {timezone} />}
  </div>
  {verticalTime&&<Datetime {pubDatetime} {modDatetime} {timezone} showPub={true}/>}
  
  {showDesc && <p>{description}</p>}
</li>
